
<%= form_for(@wiki) do |f| %>

<div class="rows">
  <div class="col-md-7">

    <div form-group>
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control",  placeholder: "Enter title" %><br/>
    </div>
    <div form-group>
      <%= f.label :body %>
      <%= f.text_area :body, rows: 8, class: "form-control",  placeholder: "Enter body" %><br/>
    </div>

    <% if (current_user.premium? || current_user.admin?) %>
    <div form-group>
      <%= f.check_box :private %>
      <%= f.label :private,  "Private wiki"%>

      <%#= f.label :private, class: "Private" do %>
      <%#= f.check_box :private %> <!--Private wiki-->
      <%# end %>
    </div>
    <% end %>

    <div class="actions">
      <%= f.submit class: "btn btn-md btn-success" %>
    </div>

  </div>
</div>

<% end %>
