
<!-- <h1>Wikis</h1> -->

<div class="container">

  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#all-wikis">All Wikis</a></li>

    <% if current_user %>
      <li><a data-toggle="tab" href="#public-wikis">Public Wikis</a></li>
      <li><a data-toggle="tab" href="#private-wikis">Private Wikis</a></li>
    <% end %>

  </ul>

  <div class="tab-content">
    <div id="all-wikis" class="tab-pane fade in active">
      <h3>All Wikis</h3>
      <table class="table table-hover">
        <thead>
          <tr>
            <th><h4>Title</h4></th>

            <% if current_user %>
              <th>Edit</th>
              <th>Delete</th>
            <% end %>

          </tr>
        </thead>
        <tbody>
          <%#= render @wikis %>
          <%= render partial: 'wiki', locals: { wikis: @wikis }, collection: @wikis %>
        </tbody>
      </table>
      <%#= link_to "Create new wiki", new_wiki_path, class: "btn btn-md btn-success" if policy(@wikis).create? %>
      <!-- <span id="create-new-wiki"><%= link_to "Create new wiki", new_wiki_path, class: "btn btn-md btn-success" if policy(Wiki).new? %></span> -->
      <%= link_to "Create new wiki", new_wiki_path, id: "create-new-wiki", class: "btn btn-md btn-success" if policy(Wiki).create? %>
    </div>


    <% if current_user %>

    <div id="public-wikis" class="tab-pane fade">
      <h3>Public Wikis</h3>
      <table class="table table-hover">
        <thead>
          <tr>
            <th><h4>Title</h4></th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <%#= render @wikis %>
          <%= render partial: 'wiki', locals: { wikis: @public_wikis }, collection: @public_wikis %>
        </tbody>
      </table>
      <%#= link_to "Create new wiki", new_wiki_path, class: "btn btn-md btn-success" if policy(@wikis).create? %>
      <%= link_to "Create new wiki", new_wiki_path, class: "btn btn-md btn-success" if policy(Wiki).new? %> <!-- OK -->
    </div>



    <div id="private-wikis" class="tab-pane fade">

      <h3>Private Wikis</h3>
      <table class="table table-hover">
        <thead>
          <tr>
            <th><h4>Title</h4></th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <%#= render @wikis %>
          <%= render partial: 'wiki', locals: { wikis: @private_wikis }, collection: @private_wikis %>
        </tbody>
      </table>
      <%= link_to "Create new wiki", new_wiki_path, class: "btn btn-md btn-success" if policy(Wiki).new? %>

    </div>

    <% end %>

  </div>
</div>


<!--   -->


<!--
<table class="table table-hover">
    <thead>
      <tr>
        <th><h4>Tile</h4></th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <%#= render @wikis %>
      <%#= render partial: 'wiki', locals: { wikis: @wikis }, collection: @wikis %>
    </tbody>
  </table>
  <%#= link_to "Create new wiki", new_wiki_path, class: "btn btn-md btn-success" if policy(@wikis).create? %>
  <%#= link_to "Create new wiki", new_wiki_path, class: "btn btn-md btn-success" if policy(Wiki).new? %>
</div>

<br/><br/><br/>
-->
