<%= form_tag charges_path do %>
  <br />
    <!-- <p>Upgrade to premium account for a <%#= amount_in_currency(@stripe_btn_data[:amount])%> one time fee.</p> -->
    <p>Upgrade to premium account for a <%= amount_in_currency(@amount)%> one time fee.</p>
  	<h4>Click the button! </h4>

<!-- OK -->
  <!-- <script class="stripe-button"
          src="https://checkout.stripe.com/checkout.js"
          data-key="<%#= @stripe_btn_data[:key] %>"
          data-amount="<%#= @stripe_btn_data[:amount] %>"
          data-description="<%#= @stripe_btn_data[:description] %>" >
  </script> -->

  <script class="stripe-button"
          src="https://checkout.stripe.com/checkout.js"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-amount="<%= @amount %>"
          data-description="<%= @description %>" >
  </script>

<% end %>
